DATABASE_URL=sqlite:///./app.db
SECRET_KEY=change-this-to-a-long-random-string-in-production
GROQ_API_KEY=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
GROQ_MODEL=qwen/qwen3-32b
WHISPER_MODEL=whisper-large-v3
STORAGE_PATH=storage
# PINECONE_API_KEY=
# PINECONE_INDEX=mockview
